/* You can add global styles to this file, and also import other style files */
.audio-player{
  position: fixed;
  bottom: 0;
}

.footer{
  margin-top: 120px;
}


@media (prefers-color-scheme: dark) {
  html{
    background: black;
  }

  *:not(.search-input){
    color: white;
  }
}

