.audio-player {
  background-color: rgba(0, 0, 0, 0.8);
}
.audio-player * {
  color: white;
}

.controls {
  display: flex;
  align-items: center;
}
.controls button {
  padding: 15px;
}

.controls i{
  color: black !important;
}

.progress {
  height: 10px;
  background-color: #ccc;
  margin-top: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
}

#current-time, #total-time {
  margin-top: 10px;
}
